body {
    background-image: url("../images/coverImg.jpg");
    background-repeat: no-repeat;
    background-color: darkcyan;
}

#hyrule-cafe {
    width: 300px;
}


.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
}
