body {
    background-color: darkcyan;
    background-image: url("../images/coverImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0
}
html {
    margin: 0;
   }

 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
 }  

 .title {
    background-color: #05445E;
}

#hyrule-cafe {
    width: 360px;
    margin: 30px;
}

#hyrule-cafe:hover {
    content: url("../images/hyruleCafe.png")
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px
}

.title-image {
    width: 130px;
}

.section-title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#about {
    background-color: #05445E;
    margin: 65px;
}

#about-title:hover {
    content: url("../images/about.png");
}

.about-desc {
    font-size: 30px;
    text-align: center;
    padding: 0 10px 40px 10px;
    color: white;
}

.menu {
    background-color: #05445E;
    margin: 65px;  
}

.btn-container {
    display: flex;
    justify-content: center;
}

.filter-btn {
    margin: 10px;
}

.menu-section {
    color: White;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#menu-image:hover {
    content: url("../images/menu.png")
}

#contact-title:hover {
    content: url("../images/contact.png")
}

#contact {
    background-color: #05445E;
}